#splashScreen img {
  max-height: 30px;
}

#splashScreen button.cta {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

#splashScreen .info {
  font-style: italic;
  font-size: 11px;
}